# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

# git ignore
.github/
node_modules/
coverage/
.idea/
*.swp
.DS_Store
Thumbs.db

# dev files
.eslint.config.mjs
.gitignore
.npmignore
vite.config.ts
set-version.sh
set-type.sh
tsconfig.json
tsconfig.build.json
rollup.config.mjs

# source code files
src/
test/
